/* ==========================================================================
                             Body
   ========================================================================== */

body{

	margin:0;
	padding:0;
}
.data{

	font-family: 'Itim', cursive;
	}
.tile{
	font-family: 'Itim', cursive;
}